arrow==0.17.0
asgiref==3.3.4
cassiopeia==4.0.18
certifi==2021.5.30
chardet==4.0.0
datapipelines==1.0.7
decorator==4.4.2
Django==3.2
django-crispy-forms==1.12.0
django-dotenv
django-summernote==0.8.11.6
django-taggit==1.4.0
djangorestframework==3.12.4
gunicorn==20.1.0
idna==2.10
merakicommons==1.0.10
MouseInfo==0.1.3
networkx==2.5.1
Pillow==8.2.0
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2021.1
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.5
