{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>Hello {{user.username}}</h1>

  <table style="width:100%;">
    <tr>
      <th style="padding:10px;">Scholar</th>
      <th>Scholar Nickname</th>
      <th>Adventure SLP</th>
      <th>Arena SLP</th>
      <th>Quest SLP</th>
      <th>Date Submitted</th>
      <th>Total</th>
    </tr>

    {% if user.is_staff %}
      {% for task in taskentry %}
        <tr>
          <th style="text-align: left;padding-left: 10px;">{{task.user}}</th>
          <th>{{task.user.profile.nickname}}</th>
          <th>{{task.adventure_slp}}</th>
          <th>{{task.arena_slp}}</th>
          <th>{{task.quest_slp}}</th>
          <th>{{task.date_submitted|date:"M j Y - H:i"}}</th>
          <th>%error%</th>
        </tr>
      {% endfor %}
    {% else %}
      {% for task in taskentry %}
      {% if task.user.username == user.username %}
        <tr>
          <th style="text-align: left;padding-left: 10px;">{{task.user}}</th>
          <th>{{task.user.profile.nickname}}</th>
          <th>{{task.adventure_slp}}</th>
          <th>{{task.arena_slp}}</th>
          <th>{{task.quest_slp}}</th>
          <th>{{task.date_submitted|date:"M j Y - H:i"}}</th>
          <th>%error%</th>
        </tr>
      {% endif %}
      {% endfor %}
    {% endif %}

  </table>
  <a href="{% url 'profile' %}">See Profile</a> <br>
  <a href="{% url 'logout' %}">Log Out</a>
{% endblock content %}
